<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic DataGrid - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="../../../static/themes/default/easyui.css" th:href="@{../../../static/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/themes/icon.css" th:href="@{../../../static/themes/icon.css}">
    <link rel="stylesheet" type="text/css" href="../demo.css" th:href="@{../demo.css}">
    <script type="text/javascript" src="../../../static/jquery.min.js" th:href="@{../../../static/jquery.min.js}"></script>
    <script type="text/javascript" src="../../../static/jquery.easyui.min.js" th:href="@{../../../static/jquery.easyui.min.js}"></script>
</head>
<body>
<!-- 数据列表 start -->
<table id="dg" title="部门列表" class="easyui-datagrid" style="width:750px;height:400px"
       url="/dept/list" toolbar="#toolbar" singleSelect="true"  method="get">
    <thead>
    <tr>
        <th field="deptId" width="60" align="center">部门ID</th>
        <th field="name" width="100" align="center">部门名</th>
        <th field="empName" width="100" align="center">领导姓名</th>
        <th field="place" width="100" align="center">位置</th>
        <th field="tel" width="160" align="center">电话</th>
        <th field="fax" width="160" align="center">FAX</th>
        <th field="remark" width="160" align="center">备注</th>
    </tr>
    </thead>
</table>
<!-- 数据列表 end -->

<!-- 工具按钮 start -->
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newDept()">新建部门</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editDept()">编辑部门</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyDept()">移除部门</a>
</div>
<!-- 工具按钮 end -->

<!--  新增(form表单) start  -->
<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">部门信息</div>
    <form id="fm" method="post">
        <div class="fitem">
            <label>deptId:</label>
            <input type="hidden" name="deptId">
        </div>
        <div class="fitem">
            <label>部门名:</label>
            <input name="name" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>领导:</label>
            <select id="empId" name="empId">
            </select>
        </div>
        <div class="fitem">
            <label>位置:</label>
            <input name="place" class="easyui-validatebox">
        </div>
        <div class="fitem">
            <label>电话:</label>
            <input name="tel">
        </div>
        <div class="fitem">
            <label>FAX:</label>
            <input name="fax" class="easyui-validatebox">
        </div>
        <div class="fitem">
            <label>备注:</label>
            <input name="remark" class="easyui-validatebox">
        </div>
    </form>
</div>
<!--  新增(form表单) end  -->

<!--  新增中保存和取消按钮 start  -->
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveDept()">Save</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>
<!--  新增中保存和取消按钮 end  -->
</body>


<script type="text/javascript">
    <!-- 新增部门窗口 -->
    function newDept() {
        $("#dlg").dialog("open").dialog('setTitle','添加部门');
        $("#fm").form("clear");
        url = "/dept/saveOrUpdate";
    }

    <!-- 编辑部门窗口  -->
    function editDept(){
        var row = $("#dg").datagrid("getSelected");
        if(row) {
            $("#dlg").dialog("open").dialog("setTitle","修改部门");
            $("#dlg").form("load",row);
            url = "/dept/saveOrUpdate?deptId="+row.deptId;
        }
    }

    <!-- 保存部门 -->
    function saveDept() {
        $("#fm").form('submit',{
            url: url,
            method:"post",
            onSubmit: function() {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('('+ result +')');
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the dept data
                }
            },
        });
    }

    <!-- 删除部门  -->
    function destroyDept() {
        var row = $("#dg").datagrid("getSelected");
        if(row) {
            $.messager.confirm("确认","确定删除该部门吗?",function(r) {
                if(r) {
                    var url = "/dept/delete?deptId="+row.deptId;
                    $.post(url,{id:row.id},function(result) {
                        if(result) {
                            $('#dg').datagrid('reload');     //reload the dept data
                        }else {
                            $.messager.show({                //show error msg
                                title: "Error",
                                msg: result.errorMsg
                            });
                        }
                    },'json');
                }
            });
        }
    }

    $(function () {

        //Ajax初始化领导select
        $.get("/emp/list", function (data, status) {
            if (status) {
                $.each(data, function (i, v) {
                    $("#empId").append('<option value ="' + v.empId + '">' + v.name + '</option>');
                })

            }
        });
    })
</script>
</html>